.container {
    place-self: center;
    padding: 40px;
    border-radius: 10px;
    background-image: linear-gradient(45deg, rgb(55, 104, 240), rgb(3, 8, 150));
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    display: flex;
    align-items: center;
    color: #fff;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}
.searchBox {
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 8px;
}
.searchBox input {
    width: 200px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 20px;
    padding-left: 25px;
    color: #626262;
    background: #eef4f3;
    font-size: 16px
}
.searchBox .search-icon {
    width: 30px;
    padding: 10px;
    border-radius: 50px;
    background: #eef4f3;
    cursor: pointer;
}
.currentDateTime {
    display: block;
    align-items: center;
    color: #cedfea;
    margin-top: 10px;
}
.weather-icon {
    display: flex;            
    align-items: center;   
    flex-direction: column;    
    gap: 0px;
    color: #FFC107;
    font-size: 50px;
}
.weather-icon img {
    width: 150px;            
    filter: drop-shadow(0 4px 10px rgba(0, 0, 0, 0.4));
}
.weather-icon .weather-description {
    font-size: 20px;
    color: #cedfea;
    line-height: 1;
}
.temperature {
    display: block;
    margin-top: 40px;
    align-items: center;
    color: #fff;
}
.temperature .degrees {
    font-size: 80px;
    line-height: 1;
}
.temperature .location {
    font-size: 32px;
}
.weather-data {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    color: #fff;
}
.weather-data .col {
    display: flex;
    align-items: flex-start;
    font-size: 22px;
    gap: 12px
}
.col .humidity-icon, 
.col .wind-icon {
    width: 26px;
    margin-top: 10px;
    color: #fff;
}
.col span {
    display: block;
    font-size: 16px;
}
.Location_nav {
    display: flex;
    color: #fff;
    align-items: center;
    margin: 15px 0;
    gap: 50px;
}
.Location_nav .Location_nav_title {
    display :flex;
}
.Location_nav .Location_nav_title .Location_nav_icon{
    color: #FFC107;
    font-size: 28px;
}
.Location_nav .Location_nav_title .Location_nav_text {
    font-size: 22px;
}
.Location_nav .Location_nav_action {
    display: flex;
}
.Location_nav .Location_nav_action .Location_nav_addBtn {
    width: 20px;
    padding: 10px;
    border-radius: 60%;
    background: #eef4f3;
    cursor: pointer;
    color: #000;
}
.temperature .feels_like_temp {
    font-size: 15px;
    padding-left: 40px;
    color: #cedfea;
}
